

<a class="btn search-toggle hidden-xs hidden-lg" data-toggle-class="active" data-target=".search"><i class="fa fa-search"></i></a>
<form action="pages-search-results.html" class="search nav-form hidden-xs hidden-sm hidden-md">
    <div class="input-group input-search">
        <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
        <span class="input-group-btn">
            @*<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>*@
        </span>
    </div>
</form>

<span class="separator"></span>