
@{
    ViewBag.Title = "HowToOrder";
    Layout = "~/Views/Shared/" + ViewBag.Layout;
}

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-light-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">How To Order</li>
            </ul>
        </nav>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Contact Area Start -->
<div class="contact-area ptb-80">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <h1 class="page-title">HOW TO ORDER</h1>
        </div>
        <div class="row" style="margin-top: 30px;">
            <p><strong>Our ordering process is rather simple but these are the steps involved:</strong></p>
            <p>
                1. Browse our website and fill your cart with your selected items.<br>
                2. Finalise your order at the checkout page. You will not need to pay at this stage.<br>
                3. When you checkout, your order will be sent to our friendly sales consultants, who will contact you shortly thereafter with a finalised order confirmation or invoice and stock availability. They will also advise you as to your payment procedures.<br>
                4. Your goods will be available for collection from one of our three regional offices on receipt of payment.
            </p>
        </div>
    </div>
</div>
